{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.feature2.feature.enable }}
{{ with $data.feature2.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url('{{ .image | relURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
				<!-- <img class="img-fluid" src="{{ .image | relURL }}" alt="image"> -->
			</div>
			<div class="col-lg-6 padding-0" style="background-image: url('{{ .image2 | relURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 450px;">
				<!-- <img class="img-fluid" src="{{ .image | relURL }}" alt="image"> -->
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}